*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(images/face-smile-solid-full.svg), default;
}
:root{
    --bg:blue;
    --box:white;
}
section{
    width: 100%;
    height: 600px;
    background-color: lightskyblue;
}
.intro, .about, .contact{
    padding: 20px;
    margin: 20px auto;
}
.intro-content{
    text-align: center;
    font-size: 2em;
    background-color: lightskyblue;
    width: 500px;
    height: 300px;
    margin: 20px auto;
    border-radius: 50px;
    box-shadow:10px 20px 10px black;
}
body{
    background-color: var(--text);
    font-family: 'Courier New', Courier, monospace;
}
.box{
    padding: 20px;
    margin: 30px;
    height: 500px;
    background-color: var(--box);
    border: dashed 10px rgb(red, green, blue);
    border-radius: 20px;
    border: solid 2px black;
    -moz-border-image: url() 20 stretch;
    border-image: url() 20 stretch;
    box-shadow: 10px 20px 10px blue;
    display: flex;
}
nav{
    background-color: lightskyblue;
    padding: 20px;
    margin: 20px auto;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
.circle{
    width: 300px;
    height: 300px;
    border-radius: 500px;
    background-color: black;
    padding: 20px;
    box-shadow:5px 10px 5px blue;
}
.circle img{
    width: 260px;
    height: 260px;
    border-radius: 250px;
}
ol{
    margin: 30px;
    font-size: 2em;
    color: var(--text);
    font-weight: bolder;
    list-style-type: circle;
}
.title{
    font-size: 3em;
    color: var(--text);
    text-align: center;
}
.about .box{
    display: block;
}
ol.list{
    list-style-image: url("images/check.png");
}