* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-image: url(images/ggg1.gif);
background-size: cover;
line-height: 1.6;
transform: scale(1.1);
transform-origin: top center;
}

header {
background: rgba(0, 0, 0, 0.85);
box-shadow: 0 2px 30px rgba(0, 174, 255, 0.6);
position: sticky;
top: 0;
z-index: 1000;
font-size: 18px;
border-bottom: 3px solid #00d4ff;
}

.bar {
max-width: 1200px;
margin: auto;
padding: 16px 32px;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-weight: bold;
font-size: 20px;
color: #00d4ff;
background-color: #001f3f;
border-radius: 10px;
padding: 4px 10px;
box-shadow: 0 8px 15px rgba(0, 212, 255, 0.5);
font-family: 'Courier New', monospace;
}

.barlinks {
list-style: none;
display: flex;
gap: 22px;
}

.barlinks a {
text-decoration: none;
color: #f4f4f4;
font-weight: bold;
padding: 10px;
border-radius: 12px;
transition: 0.3s;
font-size: 15px;
}

nav a.homes {
background-color: #00d4ff;
color: #000;
box-shadow: 0 8px 20px rgba(0, 212, 255, 0.7);
border-radius: 20px;
}

.barlinks a:hover {
background-color: #00d4ff;
color: #000;
transform: scale(1.05);
box-shadow: 0 8px 20px rgba(0, 212, 255, 0.6);
}

.info {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: auto;
padding: 60px 32px;
}

.infotext {
flex: 1;
}

.infotext h1 {
font-size: 50px;
margin-bottom: 10px;
color: #298cf0;
}

.infotext h1 .highlight {
color: #00d4ff;
font-weight: bold;
text-shadow: 3px 3px 8px rgba(0, 212, 255, 0.6);
}

.infotext h2 {
color: #00bcd4;
margin-bottom: 16px;
}

.infotext p {
max-width: 500px;
margin-bottom: 8px;
font-size: 30px;
color: rgb(249, 249, 250);
}

.infotext p .high2 {
color: #00d4ff;
font-weight: bold;
}

.social-icons a {
margin-right: 10px;
font-size: 1.2rem;
padding: 12px;
border-radius: 50%;
background-color: #003366;
color: #f4f4f4;
transition: 0.3s;
}

.social-icons a:hover {
background-color: #00d4ff;
color: #000;
transform: scale(1.1);
box-shadow: 0 6px 20px rgba(0, 212, 255, 0.6);
}

